# Indrodução a liguagem Python

In [1]:
import pandas as pd
import plotly.express as px
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_vendas = pd.read_excel('C:/Users/Samsung/Datasets/Vendas.xlsx')
df_produtos = pd.read_excel('C:/Users/Samsung/Datasets/Produtos.xlsx')

In [3]:
df_vendas

,Data Venda,Data Envio,ID Produto,ID Cliente,No. Venda,Custo Unitário,Preço Unitário,Quantidade,Valor Desconto,Valor Venda
0,2017-04-01,2017-04-14,66,10729,20070401621728,13.1,25.69,1,NaN,25.690
1,2017-04-01,2017-04-14,66,16059,20070401427058,13.1,25.69,1,NaN,25.690
2,2017-04-01,2017-04-14,66,1969,20070401212968,13.1,25.69,1,NaN,25.690
3,2017-04-01,2017-04-14,66,9289,20070401320288,13.1,25.69,1,NaN,25.690
4,2017-04-01,2017-04-14,66,15719,20070401426718,13.1,25.69,1,NaN,25.690
...,...,...,...,...,...,...,...,...,...,...
70050,2017-12-31,2018-01-10,66,11306,20071231222305,13.1,25.69,1,5.138,20.552
70051,2017-12-31,2018-01-05,66,5211,20071231716210,13.1,25.69,1,5.138,20.552
70052,2017-12-31,2018-01-05,66,4711,20071231815710,13.1,25.69,1,5.138,20.552
70053,2017-12-31,2018-01-05,66,4931,20071231815930,13.1,25.69,1,5.138,20.552
70054,2017-12-31,2018-01-04,66,430,20071231111429,13.1,25.69,1,5.138,20.552

In [4]:
df_produtos

,ID Produto,ID Subcategoria,Produto,Marca,Subcategoria,Categoria
0,412,15,Proseware Laptop12 M210 White,Proseware,Laptops,Computers
1,642,20,Proseware Photo Ink Jet Printer M100 Black,Proseware,"Printers, Scanners & Fax",Computers
2,673,20,Proseware Laser Jet Printer E100 Grey,Proseware,"Printers, Scanners & Fax",Computers
3,691,20,Proseware Slim-Design Fax Machine with Answeri...,Proseware,"Printers, Scanners & Fax",Computers
4,672,20,Proseware Ink Jet All in one M300 Grey,Proseware,"Printers, Scanners & Fax",Computers
...,...,...,...,...,...,...
651,63,4,WWI 2GB Spy Video Recorder Pen M300 Blue,Wide World Importers,Recording Pen,Audio
652,64,4,WWI 2GB Spy Video Recorder Pen M300 Silver,Wide World Importers,Recording Pen,Audio
653,61,4,WWI 2GB Spy Video Recorder Pen M300 Black,Wide World Importers,Recording Pen,Audio
654,24,1,Contoso 16GB Mp5 Player M1600 Blue,Contoso,MP4&MP3,Audio
655,27,1,Contoso 16GB Mp5 Player M1600 White,Contoso,MP4&MP3,Audio

In [5]:
df = pd.merge(df_vendas, df_produtos, how= "left", on= "ID Produto")

In [6]:
df.tail()

,Data Venda,Data Envio,ID Produto,ID Cliente,No. Venda,Custo Unitário,Preço Unitário,Quantidade,Valor Desconto,Valor Venda,ID Subcategoria,Produto,Marca,Subcategoria,Categoria
70050,2017-12-31,2018-01-10,66,11306,20071231222305,13.1,25.69,1,5.138,20.552,6,NT Bluetooth Stereo Headphones E52 Blue,Northwind Traders,Bluetooth Headphones,Audio
70051,2017-12-31,2018-01-05,66,5211,20071231716210,13.1,25.69,1,5.138,20.552,6,NT Bluetooth Stereo Headphones E52 Blue,Northwind Traders,Bluetooth Headphones,Audio
70052,2017-12-31,2018-01-05,66,4711,20071231815710,13.1,25.69,1,5.138,20.552,6,NT Bluetooth Stereo Headphones E52 Blue,Northwind Traders,Bluetooth Headphones,Audio
70053,2017-12-31,2018-01-05,66,4931,20071231815930,13.1,25.69,1,5.138,20.552,6,NT Bluetooth Stereo Headphones E52 Blue,Northwind Traders,Bluetooth Headphones,Audio
70054,2017-12-31,2018-01-04,66,430,20071231111429,13.1,25.69,1,5.138,20.552,6,NT Bluetooth Stereo Headphones E52 Blue,Northwind Traders,Bluetooth Headphones,Audio

In [7]:
df.dtypes

Data Venda         datetime64[ns]
Data Envio         datetime64[ns]
ID Produto                  int64
ID Cliente                  int64
No. Venda                  object
Custo Unitário            float64
Preço Unitário            float64
Quantidade                  int64
Valor Desconto            float64
Valor Venda               float64
ID Subcategoria             int64
Produto                    object
Marca                      object
Subcategoria               object
Categoria                  object
dtype: object

In [8]:
df["Custo"] = df["Custo Unitário"]*df["Quantidade"]

In [9]:
df['Lucro'] = df['Valor Venda'] - df["Custo"]

In [10]:
df.sample(2)

,Data Venda,Data Envio,ID Produto,ID Cliente,No. Venda,Custo Unitário,Preço Unitário,Quantidade,Valor Desconto,Valor Venda,ID Subcategoria,Produto,Marca,Subcategoria,Categoria,Custo,Lucro
40983,2017-10-31,2017-11-10,539,19046,200710313CS525,760.38,2295.00,8,3672.0,14688.00,19,Proseware Projector 1080p LCD86 Black,Proseware,Projectors & Screens,Computers,6083.04,8604.96
1185,2017-05-13,2017-05-17,66,11830,20070513822829,13.10,25.69,1,NaN,25.69,6,NT Bluetooth Stereo Headphones E52 Blue,Northwind Traders,Bluetooth Headphones,Audio,13.10,12.59

In [11]:
df.isnull().sum()

Data Venda             0
Data Envio             0
ID Produto             0
ID Cliente             0
No. Venda              0
Custo Unitário         0
Preço Unitário         0
Quantidade             0
Valor Desconto     20244
Valor Venda            0
ID Subcategoria        0
Produto                0
Marca                  0
Subcategoria           0
Categoria              0
Custo                  0
Lucro                  0
dtype: int64

In [12]:
df.head()

,Data Venda,Data Envio,ID Produto,ID Cliente,No. Venda,Custo Unitário,Preço Unitário,Quantidade,Valor Desconto,Valor Venda,ID Subcategoria,Produto,Marca,Subcategoria,Categoria,Custo,Lucro
0,2017-04-01,2017-04-14,66,10729,20070401621728,13.1,25.69,1,NaN,25.69,6,NT Bluetooth Stereo Headphones E52 Blue,Northwind Traders,Bluetooth Headphones,Audio,13.1,12.59
1,2017-04-01,2017-04-14,66,16059,20070401427058,13.1,25.69,1,NaN,25.69,6,NT Bluetooth Stereo Headphones E52 Blue,Northwind Traders,Bluetooth Headphones,Audio,13.1,12.59
2,2017-04-01,2017-04-14,66,1969,20070401212968,13.1,25.69,1,NaN,25.69,6,NT Bluetooth Stereo Headphones E52 Blue,Northwind Traders,Bluetooth Headphones,Audio,13.1,12.59
3,2017-04-01,2017-04-14,66,9289,20070401320288,13.1,25.69,1,NaN,25.69,6,NT Bluetooth Stereo Headphones E52 Blue,Northwind Traders,Bluetooth Headphones,Audio,13.1,12.59
4,2017-04-01,2017-04-14,66,15719,20070401426718,13.1,25.69,1,NaN,25.69,6,NT Bluetooth Stereo Headphones E52 Blue,Northwind Traders,Bluetooth Headphones,Audio,13.1,12.59

In [13]:
df["Valor Desconto"].fillna(0, inplace = True)

In [14]:
df.sample(10)

,Data Venda,Data Envio,ID Produto,ID Cliente,No. Venda,Custo Unitário,Preço Unitário,Quantidade,Valor Desconto,Valor Venda,ID Subcategoria,Produto,Marca,Subcategoria,Categoria,Custo,Lucro
21963,2017-01-28,2017-02-10,391,19079,200701283CS425,321.44,699.00,9,943.6500,5347.3500,15,WWI Laptop15 M0150 Black,Wide World Importers,Laptops,Computers,2892.96,2454.3900
49390,2018-01-19,2018-01-29,359,18816,200801193CS560,187.62,368.00,6,11.4000,2097.6000,15,Fabrikam Laptop12 M2002 Red,Fabrikam,Laptops,Computers,1125.72,971.8800
58379,2017-03-22,2017-03-27,8,11221,20070322322220,30.58,59.99,1,2.9995,56.9905,1,Contoso 4G MP3 Player E400 Silver,Contoso,MP4&MP3,Audio,30.58,26.4105
65971,2017-08-04,2017-08-08,66,11610,20070804122609,13.10,25.69,1,2.5690,23.1210,6,NT Bluetooth Stereo Headphones E52 Blue,Northwind Traders,Bluetooth Headphones,Audio,13.10,10.0210
45528,2018-04-26,2018-05-06,653,19106,200804263CS637,62.54,136.00,5,136.0000,544.0000,20,Proseware All-In-One Photo Printer M200 Black,Proseware,"Printers, Scanners & Fax",Computers,312.70,231.3000
29812,2017-11-19,2017-12-01,77,18788,200711191CS465,17.45,37.95,2,15.1800,60.7200,6,NT Bluetooth Active Headphones E202 Silver,Northwind Traders,Bluetooth Headphones,Audio,34.90,25.8200
56112,2017-02-13,2017-02-24,153,19037,200702136CS427,216.12,469.97,1,32.8979,437.0721,9,"Adventure Works 26"" 720p LCD HDTV M140 Silver",Adventure Works,Televisions,TV and Video,216.12,220.9521
47729,2017-02-06,2017-02-10,604,19080,200702063CS468,254.40,499.00,5,499.0000,1996.0000,19,Contoso Projector 480p M481 Silver,Contoso,Projectors & Screens,Computers,1272.00,724.0000
65087,2017-05-22,2017-05-26,66,11400,20070522722399,13.10,25.69,1,2.5690,23.1210,6,NT Bluetooth Stereo Headphones E52 Blue,Northwind Traders,Bluetooth Headphones,Audio,13.10,10.0210
51199,2019-02-14,2019-02-24,314,19116,200902142CS699,157.54,309.00,6,37.8000,1483.2000,13,SV Car Video TFT7 M7001 Silver,Southridge Video,Car Video,TV and Video,945.24,537.9600

In [15]:
df.isnull().sum()

Data Venda         0
Data Envio         0
ID Produto         0
ID Cliente         0
No. Venda          0
Custo Unitário     0
Preço Unitário     0
Quantidade         0
Valor Desconto     0
Valor Venda        0
ID Subcategoria    0
Produto            0
Marca              0
Subcategoria       0
Categoria          0
Custo              0
Lucro              0
dtype: int64

In [16]:
df["Lucro"].sum()

89132510.311

In [17]:
df["Tempo_envio"] = (df["Data Envio"] - df["Data Venda"]).dt.days

In [18]:
df.sample(2)

,Data Venda,Data Envio,ID Produto,ID Cliente,No. Venda,Custo Unitário,Preço Unitário,Quantidade,Valor Desconto,Valor Venda,ID Subcategoria,Produto,Marca,Subcategoria,Categoria,Custo,Lucro,Tempo_envio
27285,2019-03-07,2019-03-11,653,18950,200903073CS860,62.54,136.00,16,18.8000,2067.2000,20,Proseware All-In-One Photo Printer M200 Black,Proseware,"Printers, Scanners & Fax",Computers,1000.64,1066.5600,4
60426,2017-02-02,2017-02-07,66,1801,20070202212800,13.10,25.69,1,1.7983,23.8917,6,NT Bluetooth Stereo Headphones E52 Blue,Northwind Traders,Bluetooth Headphones,Audio,13.10,10.7917,5

In [19]:
df.groupby('Marca')['Tempo_envio'].mean()

Marca
Adventure Works         8.312235
Contoso                 8.607544
Fabrikam                8.144103
Litware                 8.325130
Northwind Traders       9.069631
Proseware               8.263903
Southridge Video        8.382667
Wide World Importers    8.316118
Name: Tempo_envio, dtype: float64

In [20]:
df_sig = df.drop_duplicates(subset= ['ID Cliente', 'Categoria'], keep= 'first')

In [22]:
df_sig1 = df_sig[['ID Cliente', 'Categoria']]
df_sig1

       ID Cliente Categoria
0           10729     Audio
1           16059     Audio
2            1969     Audio
3            9289     Audio
4           15719     Audio
...           ...       ...
70019        4977     Audio
70035        6739     Audio
70039       12798     Audio
70042        5878     Audio
70044        4568     Audio

[8043 rows x 2 columns]

In [23]:
df_sig2 = df_sig1.groupby(['ID Cliente']).count()
df_sig2

            Categoria
ID Cliente
6                   1
7                   1
9                   1
10                  1
11                  1
...               ...
19125               1
19126               1
19135               1
19137               1
19145               1

[7655 rows x 1 columns]

In [24]:
df.head(3)

,Data Venda,Data Envio,ID Produto,ID Cliente,No. Venda,Custo Unitário,Preço Unitário,Quantidade,Valor Desconto,Valor Venda,ID Subcategoria,Produto,Marca,Subcategoria,Categoria,Custo,Lucro,Tempo_envio
0,2017-04-01,2017-04-14,66,10729,20070401621728,13.1,25.69,1,0.0,25.69,6,NT Bluetooth Stereo Headphones E52 Blue,Northwind Traders,Bluetooth Headphones,Audio,13.1,12.59,13
1,2017-04-01,2017-04-14,66,16059,20070401427058,13.1,25.69,1,0.0,25.69,6,NT Bluetooth Stereo Headphones E52 Blue,Northwind Traders,Bluetooth Headphones,Audio,13.1,12.59,13
2,2017-04-01,2017-04-14,66,1969,20070401212968,13.1,25.69,1,0.0,25.69,6,NT Bluetooth Stereo Headphones E52 Blue,Northwind Traders,Bluetooth Headphones,Audio,13.1,12.59,13

In [25]:
df_completo = df.merge(df_sig2, on='ID Cliente')
df_completo

,Data Venda,Data Envio,ID Produto,ID Cliente,No. Venda,Custo Unitário,Preço Unitário,Quantidade,Valor Desconto,Valor Venda,ID Subcategoria,Produto,Marca,Subcategoria,Categoria_x,Custo,Lucro,Tempo_envio,Categoria_y
0,2017-04-01,2017-04-14,66,10729,20070401621728,13.10,25.69,1,0.000,25.690,6,NT Bluetooth Stereo Headphones E52 Blue,Northwind Traders,Bluetooth Headphones,Audio,13.10,12.590,13,1
1,2017-09-16,2017-09-29,8,10729,20070916721728,30.58,59.99,1,5.999,53.991,1,Contoso 4G MP3 Player E400 Silver,Contoso,MP4&MP3,Audio,30.58,23.411,13,1
2,2017-09-19,2017-10-02,8,10729,20070919821728,30.58,59.99,1,5.999,53.991,1,Contoso 4G MP3 Player E400 Silver,Contoso,MP4&MP3,Audio,30.58,23.411,13,1
3,2017-09-16,2017-09-29,66,10729,20070916721728,13.10,25.69,1,2.569,23.121,6,NT Bluetooth Stereo Headphones E52 Blue,Northwind Traders,Bluetooth Headphones,Audio,13.10,10.021,13,1
4,2017-09-19,2017-10-02,66,10729,20070919821728,13.10,25.69,1,2.569,23.121,6,NT Bluetooth Stereo Headphones E52 Blue,Northwind Traders,Bluetooth Headphones,Audio,13.10,10.021,13,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70050,2017-12-30,2018-01-10,66,4977,20071230715976,13.10,25.69,1,5.138,20.552,6,NT Bluetooth Stereo Headphones E52 Blue,Northwind Traders,Bluetooth Headphones,Audio,13.10,7.452,11,1
70051,2017-12-31,2018-01-13,66,6739,20071231717738,13.10,25.69,1,5.138,20.552,6,NT Bluetooth Stereo Headphones E52 Blue,Northwind Traders,Bluetooth Headphones,Audio,13.10,7.452,13,1
70052,2017-12-31,2018-01-12,66,12798,20071231723797,13.10,25.69,1,5.138,20.552,6,NT Bluetooth Stereo Headphones E52 Blue,Northwind Traders,Bluetooth Headphones,Audio,13.10,7.452,12,1
70053,2017-12-31,2018-01-12,66,5878,20071231216877,13.10,25.69,1,5.138,20.552,6,NT Bluetooth Stereo Headphones E52 Blue,Northwind Traders,Bluetooth Headphones,Audio,13.10,7.452,12,1
70054,2017-12-31,2018-01-12,66,4568,20071231715567,13.10,25.69,1,5.138,20.552,6,NT Bluetooth Stereo Headphones E52 Blue,Northwind Traders,Bluetooth Headphones,Audio,13.10,7.452,12,1

In [28]:
df_clientes = df_completo.groupby('Categoria_x')
df_clientes.head(3)

,Data Venda,Data Envio,ID Produto,ID Cliente,No. Venda,Custo Unitário,Preço Unitário,Quantidade,Valor Desconto,Valor Venda,ID Subcategoria,Produto,Marca,Subcategoria,Categoria_x,Custo,Lucro,Tempo_envio,Categoria_y
0,2017-04-01,2017-04-14,66,10729,20070401621728,13.10,25.69,1,0.000,25.690,6,NT Bluetooth Stereo Headphones E52 Blue,Northwind Traders,Bluetooth Headphones,Audio,13.10,12.590,13,1
1,2017-09-16,2017-09-29,8,10729,20070916721728,30.58,59.99,1,5.999,53.991,1,Contoso 4G MP3 Player E400 Silver,Contoso,MP4&MP3,Audio,30.58,23.411,13,1
2,2017-09-19,2017-10-02,8,10729,20070919821728,30.58,59.99,1,5.999,53.991,1,Contoso 4G MP3 Player E400 Silver,Contoso,MP4&MP3,Audio,30.58,23.411,13,1
1080,2017-01-01,2017-01-11,176,16,20070101211015,58.36,126.90,1,6.345,120.555,10,SV 16xDVD M360 Black,Southridge Video,VCD & DVD,TV and Video,58.36,62.195,10,3
1081,2017-01-01,2017-01-11,176,16,20070101311015,58.36,126.90,1,6.345,120.555,10,SV 16xDVD M360 Black,Southridge Video,VCD & DVD,TV and Video,58.36,62.195,10,3
1082,2017-01-01,2017-01-11,176,16,20070101811015,58.36,126.90,1,6.345,120.555,10,SV 16xDVD M360 Black,Southridge Video,VCD & DVD,TV and Video,58.36,62.195,10,3
1086,2017-01-01,2017-01-11,538,16,20070101311015,50.47,99.00,1,4.950,94.050,18,WWI CRT17 E106 White,Wide World Importers,Monitors,Computers,50.47,43.580,10,3
1401,2017-04-14,2017-04-25,662,18767,200704143CS436,78.19,236.00,3,0.000,708.000,20,Proseware Slim-Design Fax Machine with Answeri...,Proseware,"Printers, Scanners & Fax",Computers,234.57,473.430,11,3
1402,2017-04-14,2017-04-25,677,18767,200704143CS436,40.28,79.00,3,0.000,237.000,20,Proseware Fax Machine E100 Grey,Proseware,"Printers, Scanners & Fax",Computers,120.84,116.160,11,3

In [27]:
df_clientes1 = df_completo.groupby('Marca')
df_clientes1

In [ ]:
df.groupby('Marca')['Tempo_envio'].mean()

In [ ]:
df.groupby('Marca')["Lucro"].sum().sort_values(ascending=False)

In [ ]:
#pd.set.option('display.max_rows', None)

df.groupby('Produto')["Quantidade"].sum().sort_values(ascending=False).reset_index()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
df.groupby("Marca")["Quantidade"].sum().sort_values(ascending=True).plot.barh(title='Total de produtos vendidos por MArca')
plt.xlabel('Total produtos vendidos')
plt.ylabel('Marca')

In [ ]:
dados = df.groupby("Marca")["Quantidade"].sum().sort_values(ascending=True).reset_index()

In [ ]:
dados

In [ ]:
fig = px.bar( dados, x = 'Quantidade', y = 'Marca')
#plt.xlabel(" produção (mil litros)", size = 12)
#plt.ylabel(" Tipo de suco", size = 12)
#plt.title(" Produção de sucos ")
fig.show()

In [ ]:
df.groupby(df['Data Venda'].dt.year)['Lucro'].sum().plot.bar(title = 'Lucro por ano');

In [ ]:
df["mes_ano"] = df["Data Venda"].dt.to_period("M")

In [ ]:
df.sample(4)

In [ ]:
df.groupby('mes_ano')['Lucro'].sum().reset_index()

In [ ]:
lucro_mes = df.groupby("Marca")["Quantidade"].sum()

In [ ]:
import plotly.express as px

In [ ]:
#fig = px.line(lucro_mes, x ="mes_ano", y="Lucro", title='Lucro por mês')
#fig.show

In [ ]:
Lucro_mes_cat = df.groupby(['mes_ano', "Categoria"])[['Lucro', "Quantidade"]].sum().reset_index()
Lucro_mes_cat

In [ ]:
#fig = px.line(Lucro_mes_cat, x="mes_ano", y="Lucro", title="Lucro por mês", markers=True, 
              color = "Categoria")
#fig.show

In [ ]:
lucroCategoria = df.groupby('Categoria')['Lucro'].sum().reset_index()

graf = px.pie(lucroCategoria, values='Lucro', names='Categoria', title='Lucro por Categoria')
graf.show()

In [ ]:
df["Avaliação_venda"] = np.where(df["Valor Venda"] > 20000, "Alto valor", "Baixo valor")

In [ ]:
df.sample(2)

In [ ]:
df.describe()

In [ ]:
df['Tempo_envio'].describe()

In [ ]:
plt.boxplot(df["Tempo_envio"]);

In [ ]:
plt.hist(df["Tempo_envio"]);

In [ ]:
MoM = df.groupby("mes_ano").["Lucro"].sum().reset_index()